$primary: #006064;
$primary-light:#428e92;
$primary-dark: #00363a;
$primary-xtra-light: #CCDCDE;

$l-primary: #b2dfdb; 
$l-primary-light: #e5ffff;
$l-primary-dark: #82ada9;

$secondary: #0059aa;
$secondary-light: #5385dc;
$secondary-dark: #00317a;

$dark1: #333;
$dark2: #555;
$dark3: #999;

$font-color1: white;

//element defaults

h1 {
    margin: 0;
}

//global classes
.max-layout {
    max-width: 1200px;
    margin: auto;
}

a {
    color: inherit;
}